{% extends 'index2.html' %}
{% load crispy_forms_filters %}

{% block content %}

    {% if form1.errors and form2.errors %}
       <div class="alert alert-danger" role="alert">
        Error!
       </div>
    {% endif %}

    <h1> Editando Equipo: {{ equipo.name }} </h1>

    <form action=" {% url 'equipo_editar' equipo.id %} " method="POST">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alert alert-success" role="alert">
                   Registrado!
                </div>
            {% endif %}

            {{ form1|crispy }}

            <br>
            <button type="submit" class="btn btn-outline-light btn-lg m-1">Enviar</button>
    </form>

{% endblock %}