{% extends "index2.html" %}

{% block content %}

<h1> Equipos disponibles para partido: {{equipo.name}}</h1>


<table class="table text-white">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Jugadores</th>
      <th scope="col">Agregar al partido</th>
    </tr>
  </thead>
  <tbody>
    {% for equipo in equipos %}
    <tr>
      <th scope="row"> {{ equipo.id }}</th>
      <td> {{ equipo.name }}</td>
      <td> <a class="btn btn-outline-light" href="{% url 'partido_jugadores' equipo.id %}">Ver jugadores</a></td>
      <td> <a class="btn btn-outline-light"  href="{% url 'partido_agregar_equipo' id_partido=partido.id id_equipo=equipo.id %}"> Agregar al partido</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}