{% extends "index2.html" %}

{% block content %}

<style>
    td{color: #fff}
    th{color: #fff}
  </style>
<h1> Jugadores equipo: {{equipo.name}}</h1>


<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Rut</th>
      <th scope="col">Género</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    {% for jugador in jugadores %}
    <tr>
      <th scope="row"> {{ jugador.id }}</th>
      <td> {{ jugador.name }}</td>
      <td> {{ jugador.rut }}</td>
      <td> {{ jugador.genero }}</td>
      <td> <img src="{{ jugador.estadisticas_jugador.foto }}"> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


