{% extends 'index2.html' %}
{% load crispy_forms_filters %}

{% block content %}

    {% if form.errors %}
       <div class="alert alert-danger" role="alert">
        Error!
       </div>
    {% endif %}

    <h1> Actualización de Fecha</h1>

    <form action="{% url 'actualizarFecha' partido.id %}" method="POST">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alert alert-success" role="alert">
                   Fecha actualizada exitosamente!
                </div>
            {% endif %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-outline-light btn-lg m-1">Enviar</button>

    </form>

{% endblock %}